# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.sls ##}
{% import_yaml 'nomad/defaults.yaml' as defaults %}



{## Merge user configuration from in nomad:* pillar ##}
{% set nomad = salt['pillar.get']('nomad', default=defaults.nomad, merge=True) %}
